@font-face {
    font-family: "Lunasima";
    src: url("fonts/Lunasima/Lunasima-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Lunasima";
    src: url("fonts/Lunasima/Lunasima-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "JosefinSans";
    src: url("fonts/JosefinSans/JosefinSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }
  
  
 /* 
 Css Reset
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  /*End CSS reset*/
  /* Set a default font family */
  body {
    font-family: "Lunasima", sans-serif;
    box-sizing: border-box;
  }
  
 
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: "JosefinSans", sans-serif;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: "JosefinSans", sans-serif;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 6px;
    font-family: "JosefinSans", sans-serif;
  }
  
 
  p, ul {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .container{
    max-width: 80%;
    margin: 20px auto 0 auto;
  }
  @media(min-width: 992px){
    .container{
        max-width: 600px;
    }
  }
  li:nth-child(odd) {
    font-weight: bold;
  }
  li:nth-child(even) {
    font-style: italic;
  }